@model web_project.Models.Auction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Auction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingPrice" class="control-label"></label>
                <input asp-for="StartingPrice" class="form-control" />
                <span asp-validation-for="StartingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <!-- Drop Down Menu -->
                <select asp-for="Category" class="form-control form-select">
                    <option value="0">--Select Category--</option>
                    <option value="1">Electronics</option>
                    <option value="2">Home</option>
                    <option value="3">Fashion</option>
                    <option value="4">Sports</option>
                    <option value="5">Other</option>

                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <!-- Drop Down Menu -->
                <select asp-for="Condition" class="form-control form-select" />
                    <option value="0">--Select Condition--</option>
                    <option value="1">New</option>
                    <option value="2">Used</option>
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}